body {
	background-color: #ccc;
}
.text textarea {
	background-color: #eee;
	color: #444;
}
.logs textarea {
	background-color: #fff;
	color: #000 !important;
}
#header {
	background-color: #468;
}
div.panel {
	background-color: #468;
}
div.panel input[type="button"] {
	background-color: #246;
	border-color: #79b;
}
#guide {
	background-color: #eee;
	color: #444;
}