body {
	font-family: monospace;
	background-color: #151515;
	margin: 0px;
}
div.text {
	background-color: #222;
}
div.logs {
	background-color: #0c0c0c;
}
textarea {
	color: #ccc;
	margin: 0px;
	border: none;
	background-color: transparent;
	resize: none;
	width: 100%;
	padding: 10px;
}
textarea:focus {
	outline: none;
}
div.logs textarea {
	color: #5fa;
}
form {
	margin: 0px;
}
#header {
	background-color: #333;
	color: #ddd;
	height: 36px;
}
#header .title {
	padding-top: 10px;
	padding-left: 10px;
	font-size: 14px;
	display: inline-block;
	margin-right: 20px;
}
#header a {
	color: #acf;
	cursor: pointer;
}
.panel {
	background-color: #282828;
	height: 36px;
}
.panel .buttons {
	float: right;
}
.panel input[type=button] {
	margin-top: 6px;
	margin-right: 6px;
	height: 24px;
	border: 1px solid #444;
	background-color: #333;
	border-radius: 3px;
	color: #ccc;
	cursor: pointer;
}
.panel input[type=button]:disabled {
	border-color: #111;
	background-color: #222;
	color: #888;
	cursor: default;
}
.panel .message {
	padding-top: 11px;
	margin-left: 8px;
	color: #666;
	font-style: italic;
}
#guide {
	background-color: #222;
	color: #ccc;
	padding: 30px;
}
p {
	text-indent: 2em;
}